section .cntnt{
  margin-top: 15px;
  border-radius: 10px;
  background: white;
}

@media (min-width: 768px) {
  section .cntnt{
    margin-left: 15px;
  }
  .mad {
    width: 100%;
    margin-left: 15px;
  }
}

section div {
  padding: 10px;
}

section img {
  padding: 0;
  margin: 15px;
  width: calc(100% - 30px);
  border: 1px solid;
}

li {
  list-style: none;
}

section a {
  font-weight: bold;
  color: #ff1234;
}

.post-title {
  padding: 5px 10px 0 10px;
}

.mad {
  margin-top: 15px;
}